---
kit: TAM35355
---
{% extends "layouts/build.html.j2" %}
{% block buildblock %}
{% import "layouts/macros.html.j2" as m %}
{% import "layouts/filters.html.j2" as f %}

<p>
  This is another kit that I started and then paused.  I think it was the thought
  of the individual link tracks that intimidated me.
</p>
<p>
  The kit actually went together very well.  I assembled the lower hull without
  attaching the slanting panels - the ones that fit just above the wheels - and
  then painted the hull.  I figured, correctly, that it would be easier to paint
  the nooks and crannies
  that way.  However, it also would have been easier to paint the wheels themselves
  before assembly.  They rotated after painting, exposing areas that hadn't been
  painted, so I had to touch them up.  I jumped ahead and assembled the turret,
  and painted it at the same time as the lower hull.
</p>
<p>
  The instructions show a mixture of {{f.txf('62:2')}} Olive Drab and {{f.txf('59:1')}}
  Desert Yellow for the exterior.  A little poking around the web tells me that the
  exterior of British military vehicles in the early part of the war was Khaki
  Green &num;3.  To my eye, this color looks more brown than green.
  {{f.linkTo('This site', 'https://replikator.club/2021/02/09/tamiya-paint-database-uk-wwii-afv-colours/')}}
  shows a slightly different mixture, namely {{f.txf('62:3')}} and {{f.txf('59:2')}}.
  I did a test, and the result looked a lot like {{f.txf('51')}} Khaki Drab, albeit
  a bit lighter.  I actually used a mixture of {{f.txf('51:3')}} and {{f.txf('59:2')}}.
  I think it turned out okay.
</p>
<p>
  Now was time to assemble the tracks.  The kit comes with parts for 144 track links,
  of which 138 are used.  Amazing, I didn't lose any.  Each track link is two pieces,
  and removing them from the sprues, cleaning them up, and gluing the pieces together
  was very tedious.  I decided to paint them before assembly, which was also tedious.
  I chose to paint before assembly because I was afraid that if I painted them after
  assembly, there would be spots {{f.nowrap('in-between')}} the tracks that I would miss.
  In the end, I should have painted them after assembly, then touched up any exposed
  areas by hand.  Also, I painted each link in two steps, but intead of painting inner
  and outer, I painted left and right.  That was also a mistake, as there are links
  where the two don't quite match.  I used Testors Flat Black, in the {{f.nowrap('1/4')}}
  ounce bottle, for the tracks.
</p>
<p>
  After all the tracks had been painted, it was time for linking the tracks together.
  This turned out to be trivial - the total process took just a few minutes, if that.
  Not only was linking the tracks together quite simple, but putting them on the tank
  was also easy.  I don't know if all kits with individual tracks go together this well,
  but it has relieved any apprehension I had about using single-link tracks in the future.
  (I'm guessing a Sherman, where there is very little slack in the tracks, might be a
  bit more difficult.)
</p>
<p>
  I only applied the four decals that were shown in the instructions.  The kit also
  comes with a few slogans, which you can apply as you wish.  It wasn't until I was
  taking the photos that I realized the pool-up of clear gloos on the right side.
  That decal was tricky to apply, as I had already attached the long tool, and the
  decal goes underneath the tool.  I was actually a little surprised that the decals
  that go on the hull were one piece - I expected that there would be two decals,
  one for the part that goes on the hull proper and a second one for the part that
  goes on the side skirt.
</p>
<p>
  Although I have attempted to weather other armor kits in the past, I didn't do
  any weathering on this kit.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
{% endblock %}
