---
kit: TAM61046
---
{% extends "layouts/build.html.j2" %}
{% block buildblock %}
{% import "layouts/macros.html.j2" as m %}
{% import "layouts/filters.html.j2" as f %}

<p>
  This kit fought me much of the way.  I actually bought two copies of this kit.
  I messed up the first one and thought it was FUBAR, so I bought a second kit.
  Then I FUBARed that one, but in a different way, so I went back to the first one,
  and managed to salvage it.
</p>
<p>
  Off the top of my head, I can think of three areas that game me trouble.  First,
  the wing attachment.  I eventually removed the pieces that fit inside the wings
  where they connect, and glued strips of styrene to the edges, and used the strips
  to steady it.  After assembly, it was secure enough, although I never stressed it
  that much.  The second issue was the flaps - putting them in the openings, at the
  right angle, is very difficult for me.  I also learned that they should be
  attached before attaching the outer wings (this is what the instructions tell you
  to do).  Third, inserting the landing gear.  I actually had to cut off part of the
  landing gear struts to be able to insert them.  It might have been better to sand
  a little bit of the opening, but it was too late by the time I got to assembling
  the landing gear.
</p>
<p>
  So, to sum up, if/when I build another Tamiya Corsair (and I have another F4U-1D in
  the stash), there are three things to remember: attach styrene strips to the wing
  surfaces where they attach, attach the flaps before the outer wings, and enlarge
  the langing gear opening by sanding the rear side of the opening.  It may be better
  to attach the outer parts of the wings to the center section before attaching top
  to bottom.
</p>
<p>
  This was going to be a Royal Navy subject, the bottom was painted light gray -
  I used Floquil SP Lettering Gray.  The top colors were the same as I used on my
  {{ f.linkTo('Royal Navy F4U-1A', '../../2021/0701')}} - {{f.txf('54')}} Dark Sea
  Grey and a mix of {{f.txf('62')}} Olive Drab and {{f.txf('57')}} Buff.
</p>
<p>
  The decals came from Xtradecal X48102 Yanks with Roundels, Part 1.  However, it
  wasn't until I was almost ready to decal the kit that I realized that the X48102
  sheet only came with insignias for one Corsair, even though the sheet had two
  Corsair subjects (an F4U-1 and an F4U-1A).  I got the insignia from three other
  Xtradecal sheets (which I bought some time ago): {{f.nowrap('X029-48')}} for the
  bottom insignia and fin flash, {{f.nowrap('X48028')}} for the top insignia, and
  {{f.nowrap('X030-48')}} for the fuselage insignia.  The fin flash is actually too
  wide - it shoud not overlap the rudder.  I messed up the serial number on the port
  side - it folded over on itself and I could not untangle it, so I left them off
  (this gives an indication as to how frustrated I was getting with this build).
  I also left the decals off the propellor blades, just as I did with the {{f.nowrap('F4U-1A')}}.
  This time it was intentional, though - I was just too frustrated to care.
</p>
<p>
  I used the Eduard EX061 mask for the canopy - it fit very well.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
{% endblock %}
