---
kit: HAS09773
---
{% extends "layouts/build.html.j2" %}
{% block buildblock %}
{% import "layouts/macros.html.j2" as m %}
{% import "layouts/filters.html.j2" as f %}

<p>
  This build was on the shelf of doom for some time.  It was pretty much already assembled.  When I took it out to look at it,
  it didn't seem that bad, but there
  must have been something that frustrated me.  I think it was the exhaust - I think they're supposed to be closer to the
  fuselage.  These stick out like Mickey Mouse ears.
</p>
<p>
	One thing I liked about this kit is that the subject had an unusual scheme for a Japanese Army aircraft - brown with green
  mottling on top, with an unpainted bottom.  I used Krylon Colormaxx White Primer as the primer - it went on pretty well.
  The yellow on the wing edge was AMMO Gold Yellow (also listed as {{f.rlm('04')}}).
  The bottom was Gaia EX-07 Silver, thinned with Gaia Metallic Thinner (Gaia makes a thinner just for metallic paints).
  It did not go on as smoothly as I hoped, but that is because the primer was a little rough.  I used {{f.txf('52')}} Flat Earth
  thinned with generic lacquer thinner for the top - it was rather splotchy.  I used {{f.txf('13')}} JA Green for the mottling,
  using Mr. Color Leveling Thinner.  I was very pleased with the way it turned out.  I thinned the paint rather heavily, but did
  not reduce the pressure.  Instead, I set the control knob on my airbrush so the spray was very light.  The anti-glare panel was
  {{f.txf('1')}} Flat Black, thinned with Quick Shine - it went on very well.  I intend to paint an entire model with Tamiya paint
  thinned with Quick Shine in the near future.
</p>
<p>
  Decals are from the kit.  I didn't bother applying the stencils, even to the prop blades.  I used Eduard's mask, EX060.  It fit
  pretty well.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
{% endblock %}
