---
kit: REV5225
---
{% extends "layouts/build.html.j2" %}
{% block buildblock %}
{% import "layouts/macros.html.j2" as m %}
{% import "layouts/filters.html.j2" as f %}

<p>
  This was another testbed for trying out a new technique - in this case, priming with Krylon Fusion Flat White.
  I had listed this kit as a possible testbed, as it is rather cheap and I have aftermarket decals for the subject
  {{f.nowrap('(Bf109G-10)')}}, but did not have one in my stash.
  (The {{f.linkTo('first time I built it','../../2007/0401/')}})  I used the markings from the kit.)
  I found a bagged kit at a swap meet last month for $5.
  Except for when I first started out, this is probably the fastest a kit has ever been build after purchase.
</p>
<p>
	This is a rather simple kit - simpler than the {{f.linkTo('Hasegawa G-14','../1201/')}} I finished earlier this month.
  As I mentioned, I primed with Krylon Fusion Flat White.  This did not go well - the paint did not adhere to the plastic
  that well and did not cover well.  There was also at least one run, on the starboard side of the cowling, just in front
  of the exhaust - you can see it in the second photo.  The {{f.rlm('04')}} is AMMO Gold Yellow and the {{f.rlm('76')}} is my
  faithful Tamiya mix of {{f.txf('23')}} and {{f.txf('2')}} in equal parts.  The {{f.rlm('75')}} is {{f.txf('54')}} and the
  {{f.rlm('74')}} is Tamiya's recommendation of {{f.txf('24:3')}} and {{f.txf('27:2')}}.
</p>
<p>
  When I first sprayed the {{f.rlm('76')}}, I thinned it with Quick Shine.  This was another technique I had been meaning to
  try on a model, as I had done some tests and it seemed to work well.  I also figured that it didn't go well, it wouldn't be
  that great a loss.  It did not work as well as I hoped.  I then switched to 91% isopropyl alcohol as a thinner, with a little
  Quick Shine added, and that worked better.
</p>
<p>
  The decals came from EagleCals #16 "Bf 109 G-10s".  The particular set of decals I used was incomplete, so I used the insignia
  from the kit.  The fuselage insignia seem oversized.  I can never apply the spiral on the spinner correctly, so I just left it
  off.  I used EZ Mask 48 to mask the canopy, which was good enough, but reminded
  me why I don't like vinyl as a masking medium.  Some of the paint chipped a bit, even though it was less than 24 hours from
  mask application to removal.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
{% endblock %}
