
{% macro buildPhotoLink(path, number) %}
  {% set imagePath = (path|slice("7:16")) ~ "-" ~ number ~ "-1000.jpg" %}
  {% set url = cloudfront.prefix ~ "/images/builds/" ~ imagePath %}
  <p>
    <img src="{{url}}" class="build-photo">
  </p>
{% endmacro %}
