---
kit: HAS09313
---
{% extends "layouts/build.html.j2" %}
{% block content %}
{% import "layouts/macros.html.j2" as m %}
{% import "layouts/filters.html.j2" as f %}
{{ super() }}

<p>
	An undocumented build.  Another one that, in retrospect, turned out pretty
	well (by my standards).
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
{% endblock %}
