---
kit: TAM25205
---
{% extends "layouts/build.html.j2" %}
{% block buildblock %}
{% import "layouts/macros.html.j2" as m %}
{% import "layouts/filters.html.j2" as f %}

<p>
  I tried to build the
  {{f.linkTo('Airfix F-51D','https://www.scalemates.com/kits/airfix-a05136-north-american-f-51d-mustang--1121428')}}
  earlier this month, and ended up FUBARing it.  (I have not yet been able to successfully build
  an Airfix kit.  This is probably a much greater reflection on me than on Airfix.)  I wasn't too disappointed,
  as I only paid {{f.nowrap('$10')}} for it at a swap meet, and it had three
  decal options, so I got my money's worth from the decals even if I messed up the kit itself.  I decided to use one of the decal options
  on this kit.  The P-51D in this kit is
  {{f.linkTo('61040','http://www.scalemates.com/kits/tamiya-61040-north-american-p-51d-mustang-8th-af--115212')}}.
  This kit includes a vehicle, which I didn't build.
</p>
<p>
	The kit went together well, as these Tamiya kits usually do.  The only difficulty I had was putting the fuselage halves
  together.  I think I've had this issue with every P-51 I've built.  The exterior was {{f.mrcolor('8')}} Silver, thinned with
  Mr. Color Leveling Thinner.  The bottle I used was rather old, and almost empty, and it didn't spray very well.  The spinner
  is Model Color Flat Red, thinned with Quick Shine.  I wanted more of a scarlet than a crimson.  The anti-glare panel is
  {{f.txf('62')}} Olive Drab.  Airfix specifies gun metal for the exhaust panels.  I used {{f.mrcolor('78')}} Metallic Black.
</p>
<p>
  I was a little aprehensive about the decals.  I think I tried to use Airfix decals on a kit in the past, and they did not
  work well.  That being said, the decals worked flawlessly.  I used my usual hot water, and they came off the backing paper
  very easily and I had no trouble positioning them.  I used Quick Shine as a gloss coat and Micro Flat as a flat coat.
</p>
<p>
  I created my own mask for the windscreen.  {{f.linkToMask('Here','48-Tamiya-P-51D.svg')}} is a link.
  Since the only part of the main canopy that you need to mask is the front edge, I just masked that by hand.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
{% endblock %}
