---
kit: HAS09058
---
{% extends "layouts/build.html.j2" %}
{% block buildblock %}
{% import "layouts/macros.html.j2" as m %}
{% import "layouts/filters.html.j2" as f %}

<p>
  I picked this kit up at a swap meet last year.
</p>
<p>
	It went together quite well - I don't remember having any major issues.  I wasn't pleased with the decal options, and I've had
  issues with decals from used Hasegawa kits, so I chose a subject from Aeromaster {{f.nowrap('48-788')}} The Wolf Pack Pt. XI.
</p>
<p>
  The red on the cowling and rudder is AMMO Blood Red.  The neutral gray on the bottom is AMMO Neutral Gray, which is quite dark.
  The top is AMMO USAAF Olive Drab.  I had to touch up some areas by hand.  One of the things I like about AMMO paint is that
  hand-painting usually matches what I've airbrushed (unlike Tamiya), but on this build, you can see the difference.
</p>
<p>
  The paint went on rather rough - I'm not sure why.  I put two coats of Quick Shine on, then applied the decals.  Due to the
  roughness, there was quite a bit of silvering.  Since it is difficult to sand the gun barrels included in the kit, I used 1mm
  plastic rod for the gun barrels.  That was a mistake, as I could not align them correctly.  Since the build was turning out
  badly, I decided I had nothing to lose by trying a new flat coat, so I used Liquitex matte varnish.  I airbrushed it straight
  from the bottle.  It did a good job of providing a matte finish, but there was some spider-webbing.  The next time I will
  either add a retarder, or perhaps mix it with Quick Shine.
</p>
<p>
  I created my own mask for the canopy, which can be found
  {{f.linkToMask('here','48-Hasegawa-P-47D-Razorback.svg')}}.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
{% endblock %}
