---
kit: HAS09082
---
{% extends "layouts/build.html.j2" %}
{% block buildblock %}
{% import "layouts/macros.html.j2" as m %}
{% import "layouts/filters.html.j2" as f %}

<p>
  I had two of these in the stash, and, after building
  {{f.linkTo('the Ki 43-I','../../2025/1101/')}} last year, I decided to tackle this one.  There were several appealing schemes
  on the Bestfong decal sheet.
</p>
<p>
	It went together pretty easily, but having to cut slots in the bottom for the oil cooler and the air intake was a bit
  tricky.  The drop tanks - or, to be more precise, the braces for the drop tanks - are a little fiddly, so I left them off.
  I knew I was going to do a Thai subject, and I wasn't sure how frequently they used drop tanks.  Well, that's my story and
  I'm sticking to it.
</p>
<p>
  The leading edges of the wings were painted Tamiya {{f.txf('4')}} Flat Yellow, then masked.
  The entire plane was painted with Tamiya {{f.txf('16')}} Flat Aluminum, thinned with {{f.nowrap('Mr. Color')}} Leveling
  Thinner.  The result less grainy than how {{f.txf('16')}} usually sprays, but it did seep under the masking over the
  yellow.  I had painted over the existing yellow with AMMO Gold Yellow {{f.rlm('04')}}.  I then masked the anti-glare
  panel and painted it {{f.txf('1')}} Flat Black, thinned with Quick Shine.  I often have trouble with Flat Black not
  adhering that well, and I was hoping the Quick Shine would help.  It did, but the black seeped under the masking.  I'm
  thinking it was the masking tape I used - just generic beige tape.  I touched the Flat Aluminum up by hand. I knew it
  wouldn't match that closely - Tamiya never does - but I also knew the green camouflage would cover it.  I applied the green
  using an old bottle of Model Master Acryl Euro Green I - I believe the FS number is 34092.  I just used a microbrush to
  apply it, to try to match the drawing on the decal sheet.
</p>
<p>
  After applying a gloss coat of Quick Shine, I applied the decals - all four of them.  I was unsure if Thai planes had
  insignia on the tops of the wings, as the decal sheet did not show any (and didn't include enough insignia to have them).
  I checked the Nichimo kit and the Hasegawa {{f.nowrap('1/32')}} kit, and they did not show insignia on the tops of the wings,
  so I didn't apply any.
</p>
<p>
  I used the Eduard mask (EX193) for the canopy.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
{% endblock %}
